@import "tailwindcss";

@layer base {
  body {
    @apply font-sans text-white bg-black antialiased;
  }
}

/* Custom Scrollbar for Dark Mode */
.custom-scrollbar-dark::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 180, 255, 0.5);
  /* Neon Cyan Hover */
}